.skills {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    scroll-margin-top: 20rem;
    text-align: justify;
  }
  
  .skills .about__left {
    max-width: 40rem;
    flex: 1;
  }
  
  .skills .about__left p {
    margin: 1rem 0 2rem;
  }
  
  .skills .about__right {
    flex: 1;
    max-width: 66rem;
  }
  /* Aplicar responsividade*/
  @media only screen and (max-width: 768px) {
    .skills {
      flex-direction: column;
      align-items: center;
    }
  
    .skills .about__left {
      max-width: 66rem;
      text-align: center;
    }
  
    .skills .about__right {
      text-align: center;
    }

  }